:root {
   --bg-color: #0E0F13;
   --text-color: #FAFAFA;
   --text-secondary-color: rgba(250, 250, 250, 0.6);
   --text-tetiary-color: rgba(250, 250, 250, 0.7);
   --heading-border-color: rgba(250, 250, 250, 0.9);
   --link-color: #45A398;
   --input-color: #18191E;
   --input-border-color: rgba(250, 250, 250, 0.5);
   --input-focus-color: #0E0F13;
}

* {
   font-family: 'IBM Plex Sans', sans-serif;
}

body, nav {
   color: var(--text-color);
   background-color: var(--bg-color);
}

a, .fas {
   color: var(--text-color);
}

 /* {
   text-decoration: underline !important;
} */

hr {
   border: 0.5px solid var(--input-border-color);
}

input {
   height: 56px !important;
}

p {
   font-weight: 300;
}

.btn {
   color: var(--text-color);
   border: 0.5px solid var(--text-color);
}

.form-control {
   background-color: var(--input-color);
   border-bottom: 1px solid var(--input-border-color) !important;
}

.form-control:focus, .form-control:active {
   background-color: var(--input-focus-color);
}

.form-control::placeholder {
   color: var(--input-border-color);
}

#footer-text {
   color: var(--text-tetiary-color);
}

li {
   font-weight: 500;
   width: min-content;
}

.blue {
   color: var(--link-color) !important;
   font-weight: 400;
}

.blue:hover, nav a:hover{
   color: #038474 !important;
   text-decoration-line: underline;
   cursor: pointer;
}

@media(max-width: 992px) {
   #resume {
      border: none !important;
   }
}

@media(max-width: 650px) {
   .display-2 {
      font-size: 4.5rem;
   }

   .sub {
      font-size: 2.25rem;
   }
}

@media(max-width: 450px) {
   .display-2 {
      font-size: 4rem;
   }

   .sub {
      font-size: 2rem;
   }

   input {
      height: 48px !important;
   }

   textarea {
      height: 201px !important;
   }
}